<html>
<head>
    <title>Dale McNiece - Lab 3</title>
</head>

<body>
    <h1>Lab 3</h1>
    <br />
    <h3>Dale McNiece</h3>
    <br />
    <a asp-controller="Home" asp-action="Razor">Razor</a>
    <a asp-controller="Home" asp-action="CreatePerson">Create Person</a>
</body>
</html>