@model Assignment2.Models.User
@using Microsoft.AspNetCore.Http;
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-controller="Home" asp-action="LoginUser" method="post">
    <div class="form-group">
        <label for="EmailAddress">Email Address:</label>
        <input asp-for="EmailAddress" type="email" class="form-control" id="EmailAddress">
    </div>
    <div class="form-group">
        <label for="Password">Password:</label>
        <input asp-for="Password" type="password" class="form-control" id="Password">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>

@*<h1>@ViewBag.Error</h1>*@
@if(Context.Session.GetString("Error") != null && Context.Session.GetString("Error") != "")
{
    <h1>@Context.Session.GetString("Error")</h1>

}